<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="carousel">
        <button class="carousel_button carousel_button--left is-hidden">
            <img src="{% static 'media/left-arrow.svg' %}" alt="&lt;">
        </button>
        <div class="carousel_track-container">
            <ul class="carousel_track">
                {% for img in images %}
                    <li class="carousel_slide current-slide">
                        <div class="card carousel_image">
                            <img class="card-image-top" src="{{ img.image.url }}" alt="{{ img.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ img.image.name }}</h5>
                                <p class="card-text">{{ img.image.description }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button class="carousel_button carousel_button--right">
            <img src="{% static 'media/right-arrow.svg' %}" alt="&gt;">
        </button>

        <div class="carousel_nav">
            <button class="carousel_indicator current-slide"></button>
            <button class="carousel_indicator"></button>
            <button class="carousel_indicator"></button>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}