<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row g-0">
        <div class="col my-auto">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste earum optio eligendi, fugiat ea magni
                alias. Libero iure cumque dicta quo quis assumenda iste voluptatum quos error exercitationem voluptates
                non at adipisci quae deleniti illo voluptate, quaerat, accusantium velit totam cum tempora fugiat?
                Deserunt distinctio odio quam dolore tempora praesentium.</p>
        </div>
    </div>
</div>
{% endblock %}