body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255,255,255,1) 35%, rgba(173,216,230,1) 100%);
    font-family: sans-serif;
}

/* .container {
    height: 100%;
    box-shadow: 0 0 1rem 0 rgba(143, 66, 66, 0.75); 
    border-radius: 5px;
    background-color: rgba(168, 39, 39, 0.85);
    backdrop-filter: blur(10px);
} */

.main-logo-link {
    width: fit-content;
}

footer {
    position: relative;
    margin-top: auto;
}

.footer-anchor:hover, 
.footer-anchor:focus {
    color: #add8e6;
}

/* -------------------------------- Carousel Styling */

.carousel {
    position: relative;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

.carousel_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel_track-container {
    background: lightgreen;
    padding: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button--left {
    left: -40px;
}

.carousel_button--right {
    right: -40px;
}

.carousel_button img {
    width: 12px;
}

.carousel_nav {
    background: pink;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel_indicator.current-slide {
    background: rgba(0, 0, 0, 0.75);
}

.is-hidden {
    display: none;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}