<!doctype html>
{% load static %}

<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>ToodlesGravity {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="container-fluid g-0">
            <!-- Bootstrap Navbar -->
            <div class="row g-0">
                <div class="col-md">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                                    <h2 class="logo-font text-black my-0"><strong>Toodles</strong><small>Gravity</small>
                                    </h2>
                                </a>
                            </div>
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="header-anchor nav-link active" id="home-page" href="{% url 'home' %}"><i
                                            class="fas fa-home" aria-hidden="true"></i> Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="header-anchor nav-link" id="gallery-page" href="{% url 'gallery' %}"> <i
                                            class="fas fa-image" aria-hidden="true"></i> Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="header-anchor nav-link" id="contact-page" href="{% url 'contact' %}"> <i
                                            class="fas fa-id-card" aria-hidden="true"></i> Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row g-0">
                <div class="col text-center">
                    <h1 class="bigger-header">ToodlesGravity</h1>
                    <h2>Page subtitle here!</h2>
                </div>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="navbar-light bg-light">
        <div class="container-fluid">
            <!-- Social Media Links -->
            <div class="row g-0">
                <div class="col text-center">
                    <a class="footer-anchor ms-1 fs-4" href="https://twitter.com/toodlesgravity" target="_blank">
                        <i class="fab fa-twitter-square" aria-hidden="true"></i></a>
                    <a class="footer-anchor ms-1 fs-4" href="https://www.instagram.com/toodlesgravity/" target="_blank">
                        <i class="fab fa-instagram" aria-hidden="true"></i></a>
                    <p class="m-0">Copyright information for images goes here</p>
                </div>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

    <script src="{% static 'js/active_link.js' %}"></script>
</body>

</html>